shots/10_17_23/still_water.npy
shots/10_17_23/water_10Hz_fps30.avi
scripts/test_propagation.py
scripts/take_samples.py
scripts/plot_phases.py
scripts/dft_debug.py
py_offaxis_holo/__pycache__/phase_unwrapping.cpython-310.pyc
py_offaxis_holo/__pycache__/__init__.cpython-310.pyc
off_axis_utils/__pycache__/manage_arrays.cpython-310.pyc
off_axis_utils/__pycache__/holo_tools.cpython-310.pyc
off_axis_utils/__pycache__/__init__.cpython-310.pyc
off_axis_utils/__pycache__/image_processing.cpython-310.pyc
cam/spin.o
.idea/misc.xml
.idea/OffAxisHolography.iml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
OffAxisHolography.code-workspace
scripts/debug_tilt_compensate_live.py
scripts/debug_propagate.py
scripts/debug_phase_wrap.py
scripts/debug_simulate.py
scripts/phase_extract_debug.py
scripts/fourier_spectrum_analysis.py
scripts/debug_tilt_compensation.py
/cpp_offaxis_holo/dft.o
/cpp_offaxis_holo/dft_test
/cpp_offaxis_holo/main.o
/cpp_offaxis_holo/DFT
/cpp_off_axis_holo/build/CMakeFiles/holo_lib.dir/src/bind.cpp.o
/cpp_off_axis_holo/build/CMakeFiles/holo_lib.dir/src/bind.cpp.o.d
